body {
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    overflow: hidden;
}
#text{
    color: white;
    font-size: 40px;
    text-align: left;
    font-weight: 700;
  }