body {
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  #907ad6 0%, #dabfff 97.5% );
    overflow: hidden;
    }
#text{
    font-display: flex;
    color: #ECF2FF;
    font-size: 100px;
    margin: 146px 0 0 60px;
    font-weight: 700;
  }
  p {
    color: #2C2A4A;
    font-weight: 700;
    margin-left:50px;
    font-size: 70px;
  }
